{% extends "base.html" %}

{% block title %}
    Admin Settings
{% endblock %}


{% block adminbutton %}
    {% if is_logged_in() and is_admin() %}
        <a href="/admin" onclick=$("#menu-close").click();>Admin Settings</a>
    {% endif %}
{% endblock %}


{% block loginbutton %}
    {% if is_logged_in() %}
        <a href="/settings" onclick=$("#menu-close").click();>Settings</a>
    {% else %}
        <a href="/login" onclick=$("#menu-close").click();>Login</a>
    {% endif %}
{% endblock %}


{% block registerbutton %}
    {% if is_logged_in() %}
        <a href="/logout" onclick=$("#menu-close").click();>Logout</a>
    {% else %}
        <a href="/register" onclick=$("#menu-close").click();>Register</a>
    {% endif %}
{% endblock %}


{% block content %}

    {% macro day_type_selection(DAY, DAY_TYPE) %}
        {% if weekly_schedule and weekly_schedule[DAY][1] == DAY_TYPE %}
            <input type="radio" name="{{ DAY }}_day_type" value="{{ DAY_TYPE }}" checked="checked">
            {{ DAY_TYPE }}
            <br>
        {% else %}
            <input type="radio" name="{{ DAY }}_day_type" value="{{ DAY_TYPE }}">
            {{ DAY_TYPE }}
            <br>
        {% endif %}
    {% endmacro%}

    {% macro schedule_type_selection(DAY, SCHEDULE_TYPE) %}
        {% if weekly_schedule and weekly_schedule[DAY][0] == SCHEDULE_TYPE %}
            <input type="radio" name="{{ DAY }}_schedule_type" value="{{ SCHEDULE_TYPE }}" checked="checked">
            {{ SCHEDULE_TYPE }} Schedule
            <br>
        {% else %}
            <input type="radio" name="{{ DAY }}_schedule_type" value="{{ SCHEDULE_TYPE }}">
            {{ SCHEDULE_TYPE }} Schedule
            <br>
        {% endif %}
    {% endmacro %}

    <div class="row-fluid">
        <div class ="main-content">
            <!-- Page Header -->
            <div class="row-fluid">
                <div id="spacer" class="col-md-12 small-space">
                </div>

                <div class="col-md-12 text-vertical-center">
                    <h1>Stuytinerary</h1>
                    <h4>The Official Stuyvesant High School Schedule</h4>
                </div>

                <div id="spacer" class="col-md-12 small-space">
                </div>
            </div>
            <!-- Page Header Ends Here -->

            <div id="spacer" class="col-md-12 small-space">
            </div>

            <div class="row-fluid schedule-container container-fluid">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" align="center">
                    <h2>Admin Settings</h2>

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="col-md-12 small-space">
                            </div>

                            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 container-fluid">
                                <h4>
                                    <b><i>
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                    </i></b>
                                </h4>
                            </div>

                            <div class="col-md-12 small-space">
                            </div>
                        {% endif %}
                    {% endwith %}

                    <div class="row-fluid">
                        <form action="/save/" method="POST">
                            <input type="submit" class="btn btn-dark btn-lg" name="request_type" value="New Schedule">
                            <input type="submit" class="btn btn-dark btn-lg" name="request_type" value="Update Schedule">

                            <div class="col-md-12 small-space">
                            </div>

                            {% set WEEKDAYS = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"] %}
                            <table cellspacing="0" cellpadding="0">
                                <tr>
                                    {% for DAY in WEEKDAYS %}
                                        <td>{{ DAY }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for DAY in WEEKDAYS %}
                                        <td>
                                            {{ day_type_selection(DAY, "A Day") }}
                                            {{ day_type_selection(DAY, "B Day") }}
                                            {{ day_type_selection(DAY, "No School") }}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for DAY in WEEKDAYS %}
                                        <td>
                                            {{ schedule_type_selection(DAY, "Regular") }}
                                            {{ schedule_type_selection(DAY, "Homeroom") }}
                                            {{ schedule_type_selection(DAY, "Special") }}
                                        </td>
                                    {% endfor%}
                                </tr>
                            </table>

                            <div class="col-md-12 small-space">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12 small-space">
            </div>

        </div>
    </div>

    <script src="/static/js/admin.js"></script>

{% endblock %}
