{% extends "base.html" %}

{% block title %}Admin Settings{% endblock %}


{% block adminbutton %}
{% if is_logged_in() %}
{% if is_admin() %}

<a href="/admin" onclick=$("#menu-close").click();>Admin Settings</a>

{% endif %}
{% endif %}
{% endblock %}


{% block loginbutton %}
{% if is_logged_in() %}

<a href="/settings" onclick=$("#menu-close").click();>Settings</a>

{% else %}

<a href="/login" onclick=$("#menu-close").click();>Login</a>

{% endif %}
{% endblock %}


{% block registerbutton %}
{% if is_logged_in() %}

<a href="/logout" onclick=$("#menu-close").click();>Logout</a>

{% else %}

<a href="/register" onclick=$("#menu-close").click();>Register</a>

{% endif %}
{% endblock %}


{% block content %}
<!-- Header -->
<header id="top" class="header">

  <div class="row-fluid">

    <div id="spacer" class="col-md-12 sspacer">
    </div>

    <div class="col-md-12 text-vertical-center">
      <h1>Stuytinerary</h1>
      <h4>The Official Stuyvesant High School Schedule</h4>
    </div>

    <div id="spacer" class="col-md-12 mspacer">
    </div>


    <div class="col-md-12 text-vertical-center">

      <div id="whitespace" class="col-md-3"></div>
      <div id="schedule" class="col-md-12 container schedulecontainer">


	<h2>Admin Settings</h2>
	<div id="spacer" class="col-md-12 xsspacer">
	</div>

    {% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="col-xs-12 sspacer"></div>
	<div class="generalcontainer col-md-6 col-md-offset-3 col-xs-12 col-sm-6 col-sm-offset-3 flashes"><h4><b><i>{% for message in messages %}{{ message }}{% endfor %}</i></b></h4></div>
	<div class="col-xs-12 sspacer">
	</div>
	{% endif %}
	{% endwith %}

	<div id="spacer" class="col-md-12 xsspacer">
	</div>


	<div class="col-xs-12">
	<form action = "/save/" id="adminform" method="POST">

	    <input type="submit" class="btn btn-dark btn-lg" name="replace" value="replace">
	    <input type="submit" class="btn btn-dark btn-lg" name="new" value="save">
	    <br><br>

	    <table class="admintable" cellspacing="0" cellpadding="0">
		<tr>
		    <td>Monday</td>
		    <td>Tuesday</td>
		    <td>Wednesday</td>
		    <td>Thursday</td>
		    <td>Friday</td>
		</tr>
		<tr>
		    <td>
			{% if weekly_schedule and weekly_schedule['mon'][1] == 'a_day' %}
			    <input type="radio" name="day_mon" value="a_day" checked="checked"> A<br>
			{% else %}
			    <input type="radio" name="day_mon" value="a_day" > A<br>
			{% endif %}
			{% if weekly_schedule and weekly_schedule['mon'][1] == 'b_day' %}
			    <input type="radio" name="day_mon" value="b_day" checked="checked"> B<br>
			{% else %}
			    <input type="radio" name="day_mon" value="b_day"> B<br>
			{% endif %}
			<input id="no_school_mon" type="radio" name="day_mon" value="no_school"> No School
		    </td>
		    <td>
			{% if weekly_schedule and weekly_schedule['tues'][1] == 'a_day' %}
			    <input type="radio" name="day_tues" value="a_day" checked="checked"> A<br>
			{% else %}
			    <input type="radio" name="day_tues" value="a_day" > A<br>
			{% endif %}
			{% if weekly_schedule and weekly_schedule['tues'][1] == 'b_day' %}
			    <input type="radio" name="day_tues" value="b_day" checked="checked"> B<br>
			{% else %}
			    <input type="radio" name="day_tues" value="b_day"> B<br>
			{% endif %}
			<input id="no_school_tues" type="radio" name="day_tues" value="no_school"> No School
		    </td>
		    <td>
			{% if weekly_schedule and weekly_schedule['wed'][1] == 'a_day' %}
			    <input type="radio" name="day_wed" value="a_day" checked="checked"> A<br>
			{% else %}
			    <input type="radio" name="day_wed" value="a_day" > A<br>
			{% endif %}
			{% if weekly_schedule and weekly_schedule['wed'][1] == 'b_day' %}
			    <input type="radio" name="day_wed" value="b_day" checked="checked"> B<br>
			{% else %}
			    <input type="radio" name="day_wed" value="b_day"> B<br>
			{% endif %}
			<input id="no_school_wed" type="radio" name="day_wed" value="no_school"> No School
		    </td>
		    <td>
			{% if weekly_schedule and weekly_schedule['thurs'][1] == 'a_day' %}
			    <input type="radio" name="day_thurs" value="a_day" checked="checked"> A<br>
			{% else %}
			    <input type="radio" name="day_thurs" value="a_day" > A<br>
			{% endif %}
			{% if weekly_schedule and weekly_schedule['thurs'][1] == 'b_day' %}
			    <input type="radio" name="day_thurs" value="b_day" checked="checked"> B<br>
			{% else %}
			    <input type="radio" name="day_thurs" value="b_day"> B<br>
			{% endif %}
			<input id="no_school_thurs" type="radio" name="day_thurs" value="no_school"> No School
		    </td>
		    <td>
			{% if weekly_schedule and weekly_schedule['fri'][1] == 'a_day' %}
			    <input type="radio" name="day_fri" value="a_day" checked="checked"> A<br>
			{% else %}
			    <input type="radio" name="day_fri" value="a_day" > A<br>
			{% endif %}
			{% if weekly_schedule and weekly_schedule['fri'][1] == 'b_day' %}
			    <input type="radio" name="day_fri" value="b_day" checked="checked"> B<br>
			{% else %}
			    <input type="radio" name="day_fri" value="b_day"> B<br>
			{% endif %}
			<input id="no_school_fri" type="radio" name="day_fri" value="no_school"> No School
		    </td>
		</tr>
		<tr>
		    <td id="sched_select_mon">
			{% if weekly_schedule and weekly_schedule['mon'][0] == 'Regular' %}
			    <input type="radio" name="schedule_mon" value="Regular" checked="checked"> Regular Schedule<br>
			{% else %}
			    <input type="radio" name="schedule_mon" value="Regular"> Regular Schedule<br>
			{% endif %}
			{% if weekly_schedule and weekly_schedule['mon'][0] == 'Homeroom' %}
			    <input type="radio" name="schedule_mon" value="Homeroom" checked="checked"> Homeroom<br>
			{% else %}
			    <input type="radio" name="schedule_mon" value="Homeroom"> Homeroom<br>
			{% endif %}
			<input type="radio" name="schedule_mon" value="no_school"> Special Schedule
		    </td>
		    <td id="sched_select_tues">
			{% if weekly_schedule and weekly_schedule['tues'][0] == 'Regular' %}
			    <input type="radio" name="schedule_tues" value="Regular" checked="checked"> Regular Schedule<br>
			{% else %}
			    <input type="radio" name="schedule_tues" value="Regular"> Regular Schedule<br>
			{% endif %}
			{% if weekly_schedule and weekly_schedule['tues'][0] == 'Homeroom' %}
			    <input type="radio" name="schedule_tues" value="Homeroom" checked="checked"> Homeroom<br>
			{% else %}
			    <input type="radio" name="schedule_tues" value="Homeroom"> Homeroom<br>
			{% endif %}
			<input type="radio" name="schedule_tues" value="no_school"> Special Schedule
		    </td>
		    <td id="sched_select_wed">
			{% if weekly_schedule and weekly_schedule['wed'][0] == 'Regular' %}
			    <input type="radio" name="schedule_wed" value="Regular" checked="checked"> Regular Schedule<br>
			{% else %}
			    <input type="radio" name="schedule_wed" value="Regular"> Regular Schedule<br>
			{% endif %}
			{% if weekly_schedule and weekly_schedule['wed'][0] == 'Homeroom' %}
			    <input type="radio" name="schedule_wed" value="Homeroom" checked="checked"> Homeroom<br>
			{% else %}
			    <input type="radio" name="schedule_wed" value="Homeroom"> Homeroom<br>
			{% endif %}
			<input type="radio" name="schedule_wed" value="no_school"> Special Schedule
		    </td>
		    <td id="sched_select_thurs">
			{% if weekly_schedule and weekly_schedule['thurs'][0] == 'Regular' %}
			    <input type="radio" name="schedule_thurs" value="Regular" checked="checked"> Regular Schedule<br>
			{% else %}
			    <input type="radio" name="schedule_thurs" value="Regular"> Regular Schedule<br>
			{% endif %}
			{% if weekly_schedule and weekly_schedule['thurs'][0] == 'Homeroom' %}
			    <input type="radio" name="schedule_thurs" value="Homeroom" checked="checked"> Homeroom<br>
			{% else %}
			    <input type="radio" name="schedule_thurs" value="Homeroom"> Homeroom<br>
			{% endif %}
			<input type="radio" name="schedule_thurs" value="no_school"> Special Schedule
		    </td>
		    <td id="sched_select_fri">
			{% if weekly_schedule and weekly_schedule['fri'][0] == 'Regular' %}
			    <input type="radio" name="schedule_fri" value="Regular" checked="checked"> Regular Schedule<br>
			{% else %}
			    <input type="radio" name="schedule_fri" value="Regular"> Regular Schedule<br>
			{% endif %}
			{% if weekly_schedule and weekly_schedule['fri'][0] == 'Homeroom' %}
			    <input type="radio" name="schedule_fri" value="Homeroom" checked="checked"> Homeroom<br>
			{% else %}
			    <input type="radio" name="schedule_fri" value="Homeroom"> Homeroom<br>
			{% endif %}
			<input type="radio" name="schedule_fri" value="no_school"> Special Schedule
		    </td>
		</tr>

		<!-- <tr>
		     <td>
		     <div id="container">
		     <div class="form-group text-center">
		     <label for="inputsm">Period Name</label>
		     <input class="form-control input-sm" id="period_name" type="text">
		     </div>
		     <div class="form-group col-xs-6">
		     <label for="inputsm"><center>Start</label>
		     <input class="form-control input-sm" id="start" type="text">
		     <input type="radio" name="start_time_frame" value="AM"> AM
		     <input type="radio" name="start_time_frame" value="PM"> PM
		     </div>
		     <div class="form-group col-xs-6">
		     <label for="inputsm"><center>End</label>
		     <input class="form-control input-sm" id="end" type="text">
		     <input type="radio" name="end_time_frame" value="AM"> AM
		     <input type="radio" name="end_time_frame" value="PM"> PM
		     </div>
		     <div class="col-xs-12">
		     <hr class="vis">
		     </div>
		     <span id="writenode"></span>
		     </div>
		     <input type="button" value="Add language" onClick="add_language()" >
		     </td>
		     <td>
		     <div id="container">
		     <div class="form-group text-center">
		     <label for="inputsm">Period Name</label>
		     <input class="form-control input-sm" id="period_name" type="text">
		     </div>
		     <div class="form-group col-xs-6">
		     <label for="inputsm"><center>Start</label>
		     <input class="form-control input-sm" id="start" type="text">
		     <input type="radio" name="start_time_frame" value="AM"> AM
		     <input type="radio" name="start_time_frame" value="PM"> PM
		     </div>
		     <div class="form-group col-xs-6">
		     <label for="inputsm"><center>End</label>
		     <input class="form-control input-sm" id="end" type="text">
		     <input type="radio" name="end_time_frame" value="AM"> AM
		     <input type="radio" name="end_time_frame" value="PM"> PM
		     </div>
		     </div>
		     </td>
		     <td>
		     <div id="container">
		     <div class="form-group text-center">
		     <label for="inputsm">Period Name</label>
		     <input class="form-control input-sm" id="period_name" type="text">
		     </div>
		     <div class="form-group col-xs-6">
		     <label for="inputsm"><center>Start</label>
		     <input class="form-control input-sm" id="start" type="text">
		     <input type="radio" name="start_time_frame" value="AM"> AM
		     <input type="radio" name="start_time_frame" value="PM"> PM
		     </div>
		     <div class="form-group col-xs-6">
		     <label for="inputsm"><center>End</label>
		     <input class="form-control input-sm" id="end" type="text">
		     <input type="radio" name="end_time_frame" value="AM"> AM
		     <input type="radio" name="end_time_frame" value="PM"> PM
		     </div>
		     </div>
		     </td>
		     <td>
		     <div id="container">
		     <div class="form-group text-center">
		     <label for="inputsm">Period Name</label>
		     <input class="form-control input-sm" id="period_name" type="text">
		     </div>
		     <div class="form-group col-xs-6">
		     <label for="inputsm"><center>Start</label>
		     <input class="form-control input-sm" id="start" type="text">
		     <input type="radio" name="start_time_frame" value="AM"> AM
		     <input type="radio" name="start_time_frame" value="PM"> PM
		     </div>
		     <div class="form-group col-xs-6">
		     <label for="inputsm"><center>End</label>
		     <input class="form-control input-sm" id="end" type="text">
		     <input type="radio" name="end_time_frame" value="AM"> AM
		     <input type="radio" name="end_time_frame" value="PM"> PM
		     </div>
		     </div>
		     </td>
		     <td>
		     <div id="container">
		     <div class="form-group text-center">
		     <label for="inputsm">Period Name</label>
		     <input class="form-control input-sm" id="period_name" type="text">
		     </div>
		     <div class="form-group col-xs-6">
		     <label for="inputsm"><center>Start</label>
		     <input class="form-control input-sm" id="start" type="text">
		     <input type="radio" name="start_time_frame" value="AM"> AM
		     <input type="radio" name="start_time_frame" value="PM"> PM
		     </div>
		     <div class="form-group col-xs-6">
		     <label for="inputsm"><center>End</label>
		     <input class="form-control input-sm" id="end" type="text">
		     <input type="radio" name="end_time_frame" value="AM"> AM
		     <input type="radio" name="end_time_frame" value="PM"> PM
		     </div>
		     </div>
		     </td>
		     </tr> -->
	    </table>

	    <br><br>

	</form>
	</div>

	<div id="spacer" class="col-md-12 sspacer">
	</div>

      </div>
</header>

<script src="/static/js/admin.js"></script>

{% endblock %}
