{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="main-content">
            <!-- Page Header -->
            <div class="row-fluid">
                <div class="col-xs-12 small-space">
                </div>

                <div class="col-xs-12 text-vertical-center">
                    <h1>Stuytinerary</h1>
                    <h4>The Official Stuyvesant High School Schedule</h4>
                </div>

                <div class="col-xs-12 small-space">
                </div>
                <!-- Page Header Ends Here -->

                <div class="col-xs-12 small-space">
                </div>

                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 container-fluid text-vertical-center">

                    <div class="container-fluid schedule-container">

                        <h2>Register</h2>

                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 container-fluid">
                                    <h4>
                                        <b><i>
                                            {% for message in messages %}
                                                {{ message }}
                                            {% endfor %}
                                        </i></b>
                                    </h4>
                                </div>

                                <div class="col-md-12 small-space">
                                </div>
                            {% endif %}
                        {% endwith %}

                        <div class="container-fluid">
                            <form action = "/register/" method="POST">
                                <div class="col-xs-12">
                                    <label for="username">Username</label>
                                    <br>
                                    <input type="text" name="username" placeholder="Username" required>
                                </div>

                                <div class="col-xs-12 small-space">
                                </div>

                                <div class="col-xs-12">
                                    <label for="pass">Password</label>
                                    <br>
                                    <input type="password" name="password" placeholder="Password" required>
                                </div>

                                <div class="col-xs-12 small-space">
                                </div>

                                <div class="col-xs-12">
                                    <label for="confirm_password">Confirmation Password</label>
                                    <br>
                                    <input type="password" name="confirm_password" placeholder="Confirmation Password" required>
                                </div>

                                <div class="col-xs-12 small-space">
                                </div>

                                <div class="col-xs-12">
                                    <input type="submit" class="btn btn-lg btn-success" value="Register">
                                </div>

                                <div class="col-xs-12 small-space">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 small-space">
                </div>
            </div>
        </div>
{% endblock %}
