{% extends "base.html" %} 

{% block title %}Login{% endblock %}

{% block adminbutton %}{% endblock %}

{% block loginbutton %}
{% if login|string() == "True"|string() %}

  <a href="/settings" onclick=$("#menu-close").click();>Settings</a>


{% else %}

  <a href="/login" onclick=$("#menu-close").click();>Login</a>

{% endif %}
{% endblock %}

{% block registerbutton %}
{% if login|string() == "True"|string() %}

  <a href="/logout" onclick=$("#menu-close").click();>Logout</a>


{% else %}

  <a href="/register" onclick=$("#menu-close").click();>Register</a>

{% endif %}
{% endblock %}

{% block content %}
    <!-- Header -->
    <header id="top" class="header">
        <div id="spacer" class="col-md-12 mspacer">
		</div>

        <div class="col-xs-12 text-vertical-center">
            <h1>About</h1>
        </div>

        <div id="spacer" class="col-xs-12 sspacer">
		</div>

		<div class="col-md-6 col-md-offset-3 col-xs-12 container-fluid schedulecontainer">
			<div class="col-xs-12 text-vertical-center">
	            <h2><b>What is Stuytinerary?</b></h2>
	        </div>
	        <div class="col-xs-12 text-vertical-center">
	            <h4>Stuytinerary is the official schedule application for students at Stuyvesant High School!</h4>
	            <h4>It was created in Stuyvesant High School's Software Development class, taught by Mr. Dyrland-Weaver, in 2017! </h4>
	           	<h4>This application continues to be available thanks to the hard work of the Stuyvesant CS department and Stuyvesant Administration.</h4>
	        </div>
	    </div>

	        <div id="spacer" class="col-xs-12 sspacer">
			</div>

	    <div class="col-md-6 col-md-offset-3 col-xs-12 container-fluid schedulecontainer">
			<div class="col-xs-12 text-vertical-center">
	            <h2><b>What Can You Use It For?</b></h2>
	        </div>
	        <div class="col-xs-12 text-vertical-center">
	            <h4>Stuytinerary offers a suite of functional applications to both students and faculty alike!</h4>
	            <h4>It was created in Stuyvesant High School's Software Development class, taught by Mr. Dyrland-Weaver, in 2017! </h4>
	           	<h4>This application continues to be available thanks to the hard work of the Stuyvesant CS department and Stuyvesant Administration.</h4>
	        </div>
	    </div>




    </header>
{% endblock %}