{% extends "index.html" %} 

{% block title %}Register{% endblock %}

{% block content %}
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h2>Create Account</h2>
            <h3>
	    <form action = "/register/" >
		 <label for="username">Username</label><br>
		 <input type="text" name="username" placeholder="Username" required>
		 <br><br>
		 <label for="pass">Password</label><br>
		 <input type="password" name="pass" placeholder="Password" required>
		 <br><br>
		 <label for="pass">Confirm Password</label><br>
		 <input type="password" name="pass" placeholder="Password" required>
		 <br> <br>
		 <input type="submit" class="btn btn-dark btn-lg" value="Register">
            </form>
	    </h3>
            <br>
        </div>
    </header>
{% endblock %}
