{% extends "index.html" %} 

{% block title %}Stuytinerary{% endblock %}

{% block content %}
    <header id="top" class="header">

    	<div class="row-fluid">
    	
    		<div id="spacer" class="col-md-12">
    		</div>

    		<div class="col-md-12 text-vertical-center">
            	<h1>Stuytinerary</h1>
            	<h4>The Official Stuyvesant High School Schedule</h4>
        	</div>

        	<div id="schedule" class="col-md-9 container">

				HELLO!

			</div>

		</div>

		
        

    </header>

    
{% endblock %}