{% extends "index.html" %} 

{% block title %}Stuytinerary{% endblock %}

{% block content %}
    <header id="top" class="header">

    	<div class="row-fluid">

    		<div id="spacer" class="col-md-12 sspacer">
    		</div>

    		<div class="col-md-12 text-vertical-center">
            	<h1>Stuytinerary</h1>
            	<h4>The Official Stuyvesant High School Schedule</h4>
        	</div>

        	<div id="spacer" class="col-md-12 mspacer">
    		</div>

    		<div id="whitespace" class="col-md-3"></div>
        	<div id="schedule" class="col-md-6 container schedulecontainer">

				<div id="spacer" class="col-md-12 xlspacer">
    			</div>
    			<div id="spacer" class="col-md-12 xlspacer">
    			</div>
    			<div id="spacer" class="col-md-12 xlspacer">
    			</div>
    			<div id="spacer" class="col-md-12 xlspacer">
    			</div>
    			<div id="spacer" class="col-md-12 xlspacer">
    			</div>

			</div>
			<div id="whitespace" class="col-md-3"></div>

		</div>

		
        

    </header>

    
{% endblock %}