{% extends "base.html" %} 

{% block title %}Settings{% endblock %}

{% block adminbutton %}{% endblock %}

{% block loginbutton %}
{% if login|string() == "True"|string() %}

  <a href="/settings" onclick=$("#menu-close").click();>Settings</a>


{% else %}

  <a href="/login" onclick=$("#menu-close").click();>Login</a>

{% endif %}
{% endblock %}

{% block registerbutton %}
{% if login|string() == "True"|string() %}

  <a href="/logout" onclick=$("#menu-close").click();>Logout</a>


{% else %}

  <a href="/register" onclick=$("#menu-close").click();>Register</a>

{% endif %}
{% endblock %}

{% block content %}
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>{{user}}'s Settings</h1>

        </div>
    </header>
{% endblock %}