{% extends "base.html" %} 

{% block title %}Settings{% endblock %}

{% block adminbutton %}{% endblock %}

{% block loginbutton %}
{% if login|string() == "True"|string() %}

  <a href="/settings" onclick=$("#menu-close").click();>Settings</a>


{% else %}

  <a href="/login" onclick=$("#menu-close").click();>Login</a>

{% endif %}
{% endblock %}

{% block registerbutton %}
{% if login|string() == "True"|string() %}

  <a href="/logout" onclick=$("#menu-close").click();>Logout</a>


{% else %}

  <a href="/register" onclick=$("#menu-close").click();>Register</a>

{% endif %}
{% endblock %}

{% block content %}
    <!-- Header -->
    <header id="top" class="header">
	
	<div class="row-fluid">

	<div id="spacer" class="col-md-12 sspacer">
    </div>

    	<div class="col-md-12 text-vertical-center">
            	<h1>Stuytinerary</h1>
            	<h4>The Official Stuyvesant High School Schedule</h4>
        </div>

        <div id="spacer" class="col-md-12 mspacer">
    	</div>


	<div class="col-md-12 text-vertical-center">

	  <div id="whitespace" class="col-md-3"></div>
          <div id="schedule" class="col-md-6 container schedulecontainer">


	    <h2>Change     Schedule</h2>

	    
	
	    <form action = "/settings/" method="POST">
	      <label for="pd_1_class">Period 1 Class</label>
	      <br>
	      <input type="text" name="pd_1_class" placeholder={{pd_1_class}}>
	      <br><br>
	      
	      <label for="pass">Password</label>
	      <br>
	      <input type="password" name="password" placeholder="Password" required>
	      <br><br>
	      <input type="submit" class="btn btn-dark btn-lg" value="Save Changes">
	    </form>

        </div>
    </header>
{% endblock %}
